<%- include('../header.ejs', {name: "Create a new fruit"}) %>
<!-- method is what to on the server...the me
    action is the route on the server
-->
<form method="POST" action="/fruits">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="color">Color:</label>
    <input type="text" name="color" id="color">
    <br>
    <label for="readyToEat">Is it ready to eat? </label>
    <input type="checkbox" name="readyToEat" id="readyToEat">
    <br>
    <label for="image">Image URL: </label>
    <input type="text" name="image" id="image">

    <input type="submit" value="Create Fruit" />
</form>
</body>
</html>